[Unit]
Description=Tomcat - instance {{ item.key }}
After=syslog.target network.target

[Service]
Type=forking

User=tomcat
Group=tomcat

Environment=LANG={{ system_locale }}
Environment=JRE_HOME=JAVA_HOME={{ java_home }}
Environment=CATALINA_HOME=/usr/share/{{ tomcat_service_name }}
Environment=CATALINA_TMPDIR=/srv/tomcat/{{ item.key }}/temp
Environment=CATALINA_PID=/run/tomcat/{{ item.key }}.pid
PIDFile=/run/tomcat/{{ item.key }}.pid

EnvironmentFile=/etc/default/tomcat-{{ item.key }}
PassEnvironment=JAVA_OPTS LANG

ExecStart=/usr/libexex/tomcat/server start

SyslogIdentifier=tomcat{{ item.key }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
